header{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0px;
}

nav ul li{
    margin-right: 5px;
    padding-right: 10px;
    font-weight: 500;

}

.logo{
    width: 5%;
    padding: 0px 40px 0px 40px;
}
.first-nav{
    font-size: 16px;
    border-bottom: solid rgb(226, 226, 226) 1px;
}

.nav-pages{
    width: 50%;
}
.nav-account{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 40px;
    
}

.second-nav{
    padding-left: 40px;
    font-size: 14px;
}

.nav-account li:first-child{
    color: #0000ff;
}

.second-nav ul li:first-child{
    color: #ff764d;
}